.swiper-pagination-bullet-active {
	background: #3498DB!important;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.price {
  color:#3498DB;
  font-style: normal;
}